/*MINI SPOTIFY STYLE WORKS ON FIREFOX ANDROID WITH USERAGENT & TAMPERMONKEY*/
html{
    --left-sidebar-width:0;
    overflow:hidden;
    body{
        min-width: 0px; /* Disable spotify width limit */
        overflow:hidden;
        #main {
            overflow:hidden;
        }
    }
}

.os-scrollbar-handle{
        visibility: hidden;
}
#context-menu{
    &[data-placement="bottom-end"]{
        transform-origin:top right;
    }
    &[data-placement="bottom-start"]{
        transform-origin:bottom left;
    }
    scale:2;
}


div#main>div {
    --panel-gap: 2px !important;
    overflow:hidden;
    >div{ /*order all windows in top down view other for mobile layout*/
        display:flex;
        flex-direction: column-reverse;
        width:100vw;
        overflow:hidden;

    }
}


/*Anakatanomes MAIN stoixeiwn */
#global-nav-bar{                    /*Navigation top bar*/
    z-index:1;
    background-color: transparent !important;
    background: linear-gradient(to top, rgba(0, 0, 0, .94) 10%, rgba(0, 0, 0, 0.7)  );
    backdrop-filter: blur(0px);
    z-index:200;
    width:50%;
}


#Desktop_LeftSidebar_Id{            /*LIBRARY SIDEBAR*/

    position:absolute;
    top:0px;
    width: 100%;
    height:100vh;
    overflow:hidden;
    overflow-y:scroll;
    /**/

    will-change:position;/*will-change: transform, transform-origin, scale, visibility, position;*/

}
#globalControlBar{      /*spotify controls bottom bar*/

    background-color:black;
    order:1;
    width:50% !important;
    z-index: 10;
}

#mainpage{                          /*spotify main page */

    position:absolute;
    top:0px;
    overflow: auto;
    overflow-x:hidden;
    scrollbar-width: none;
    width:100%;
    height:100vh;
    border-radius:0px;
    will-change:position;

}



#globalAboutTab {               /*spotify about tab */
    position:absolute;
    display:flex;
    top:0px;left:0px;
    width:50vw;
    scrollbar-width: 0px;
    height:50vh ;
    transform-origin:top left;
    scale:2;

}


/*----------------------------------------------------------------------------------------------------VISIBILITIES CUSTOMIZATION*/


#globalBody[mainview="home"][controlbarexpanded="closed"]{
    #Desktop_LeftSidebar_Id
    {
        visibility:hidden ;
    }
    #mainpage{
        visibility:visible ;
        scrollbar-width: 0px;
    }
}

#globalBody[mainview="library"][controlbarexpanded="closed"]{
    #Desktop_LeftSidebar_Id{
        visibility:visible ;
    }
    #mainpage {
        visibility:hidden ;
    }
}

#globalBody[controlbarexpanded="open"]{
    #Desktop_LeftSidebar_Id,
    #mainpage
    {
        visibility:hidden ;
    }
    #global-nav-bar
    {
        visibility:hidden ;
        position:absolute;
    }
    #globalAboutTab{
        visibility:visible;
    }
}

#globalBody[controlbarexpanded="closed"]{
    #globalAboutTab {
        visibility:hidden;
        *{
            visibility:hidden;
        }
    }
}


/*--------------------------------------------------------------------------------------------------------ABOUT TAB CUSTOMIZATION*/
#globalBody[controlbarexpanded="open"][AboutTabState="device_picker"] #globalAboutTab { /*change device screen*/

    & > :nth-child(1) {
        width:100% !important ;
        & > :nth-child(1) {

            width:100% !important;
            height:70%;
        }
    }
 }

#globalBody[controlbarexpanded="open"][AboutTabState="queue"] #globalAboutTab { /*queue screen*/
    & > :nth-child(1) {
        width:100% !important ;
        height:70%;
    }

 }

#globalBody[controlbarexpanded="open"][AboutTabState="now_playing"][visualiser="disabled"] #globalAboutTab {
    #Desktop_PanelContainer_Id>div>div{
         >:nth-child(1){
            background: var(--global-color);
        }
    }

    #scrollableContainerAboutTab {
        background: linear-gradient(to bottom, var(--global-color), black 50vh);
    }
}

#globalBody[controlbarexpanded="open"][AboutTabState="now_playing"][visualiser="enabled"] #globalAboutTab {
    #Desktop_PanelContainer_Id>div>div{
         >:nth-child(1){
            background:transparent !important;
        }
    }
}

/**/

#globalBody[controlbarexpanded="open"][AboutTabState="now_playing"] #globalAboutTab { /*now playing view*/

    >:nth-child(1){
        width:100% !important;
        >:nth-child(1){
            width:100%!important ;

            border-radius: 0px;
        }

    }

    #Desktop_PanelContainer_Id{
        >:nth-child(1)>:nth-child(2)>:nth-child(1){
            
            >*{
                width:100% !important; 
                padding:unset;
                >*{
                    width:100% !important; 
                }
            }
            
        }
        .cIUedsmg_cTnTxvOYTKR{
            min-width:100% !important;
        }
        >div>div{
            display:contents;
            button{
                visibility: hidden;
                display:none;
            }
            button[data-testid="more-button"]{
                visibility: visible;
                display:flex; 
            }
        }
    }
    .os-size-observer+ div > :nth-child(1) > :nth-child(1){ /*give space to the screen so everything is visible*/

        padding-bottom:12vh;
        > :nth-child(1){
            height:50vh;
        }

    }
    div[data-testid="NPV_Panel_OpenDiv"]{
        >:nth-child(1)>:nth-child(1){
            height:50vh;padding-top:20%;
            >:nth-child(2){ /*Hide artist title and gradient*/
                visibility:hidden;
            }
        }
        a div{ /*style track image*/
            border-radius:13px;
            scale:0.989;
        }

    }


    .canvasVideoContainerNPV{
        /*aspect-ratio: 720/1550;*/
    }
    button[aria-label="Close"]{
        visibility: hidden;
        position:absolute;
    }
    #videoart{
        width:100%;
    }

}





/*------------------------------------------------------------------------------------------------------*/
        /*------------------------------------------------------------------------------------------------------NAVBAR CUSTOMIZATION*/


#globalBody[controlbarexpanded="closed"] #global-nav-bar{ /*zoom all divs in search tabs*/

    left:flex-start;
    width:51% !important;
    >*{
        flex:1; height:100%;
    }
    >:nth-child(1){ /*Hide Spotify Logo - Backarrow forwardarrow*/

        visibility:hidden;
        position:absolute;
    }
    >:nth-child(2){ /*Spotify Home*/
        justify-content:center ;
        button{
            flex:1;
            margin-inline:0px;
        }
    }

    >:nth-last-child(3){ /*div contains notifButton, avatar*/
        max-width:fit-content;
        order:4;
        >*{
            width:auto;
        }
    }
     #ChangeToSearch{
        order:2;
    }

    #library-toggle-button{
        order:3;
    }

    #notifButton{
        all:unset;
        order:4;
    }
    #notifButton + * {
        order:5;
        >figure{
            max-width:fit-content;
        }

    }


    #SPdownloadButton,#SPpremiumButton{
        visibility:hidden !important;
        position:absolute;

    }

    #notifButton{
        visibility: visible !important;
    }
    button{
         background-color:transparent !important;

    }

}

/*------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------LIBRARY SIDEBAR CUSTOMIZATION*/

#globalBody[mainview="library"] #Desktop_LeftSidebar_Id {
    > :nth-child(1) {
        transform-origin:top left;
        transform-box:  fill-box;
        scale:2;
        width:50%;
        overflow:visible ;
        > :nth-child(1)> :nth-child(1){
            border-radius:0px;
            > :nth-child(2)  {
                padding-bottom:9vh;
            }
        }
    }
    .os-scrollbar-track{
        visibility: hidden;
    }
    #ShowFullLibrary{
        pointer-events: none;
    }
}
/*------------------------------------------------------------------------------------------------------*/

#mainpage>.main-view-container { /*main page adjustment to fit*/
    transform-origin: top left;
    transform: scale(2) ;
    width: 50%;

}
/*----------------------------------------------------------------------------------------------------SPOTIFY CONTROLS CUSTOMIZATION*/
#globalBody[controlBarExpanded="closed"] #globalControlBar{ /*Closed state*/
    will-change:position;
    width:49% !important;
    margin-left:1%;
    border-radius:5px;
    margin-bottom:0px !important; /*reset dynamic value from auto adjust in open mode*/
    background: var(--global-side-color);
    >:nth-child(1){
        pointer-events: none; /*SOS: disable interactions*/
        min-width:100%;
        #playerControls{ /*SOS: only let controls be touched*/
            pointer-events: auto;
        }
        >:nth-child(1){

            >:nth-child(3){
                visibility:hidden;
                position:absolute;
            }
            >:nth-child(2){
                width:fit-content;
                >:nth-child(1){
                    >:nth-child(1){


                        >:nth-child(1)>:nth-child(1){
                            visibility:hidden;
                            position:absolute;

                        }
                        >:nth-child(3)>:nth-child(2){
                            visibility:hidden;
                            position:absolute;
                        }
                    }
                    >:nth-child(2){
                        overflow:visible;

                        >:nth-child(1),>:nth-child(3){
                            visibility:hidden;
                            position:absolute;
                        }
                        >:nth-child(2){
                            visibility:visible;
                            position: fixed;
                            width:98%;
                            left:0px;
                            bottom:0%;
                            padding-left:2%;
                        }

                    }
                }

            }
            >:nth-child(1){
                width:100%;

                [aria-checked="false"]{ /*hide the plus button if song isnt added to playlist*/
                    visibility: hidden;
                }
            }

        }
        >:nth-child(2){/*Playing on DEVICE*/
            background-color:transparent;
            height:fit-content;
            padding:0vh;
            margin-bottom:0.5vh;
            >button>span{
                font-size: xx-small;
                color : #1ed760;


            }
            >svg{
                height:.5vh !important;
                fill: #1ed760;
            }

        }
    }

}


#globalBody[controlBarExpanded="open"] #globalControlBar{

    background-color:transparent !important;
/*     background: linear-gradient(to top, rgba(0, 0, 0, .94) 10%, rgba(0, 0, 0, 0.7)  );
    backdrop-filter: blur(2px); */
    > footer{
        min-width:0px;
        width:100%;
    }
    #subControlBar{

       /* Topothetei to ena katw ap tallo ta controls hxou kai ta megalwnei*/

        flex-direction: column;       /* Stack items vertically */
        height:fit-content;
        align-items: center;
        gap:1.8vw;
        padding-left: 2.5vw;
        padding-right: 2.5vw;
        > :nth-child(1) { /*COVER TITLE ARTIST PART*/

            align-self: flex-start;
            width: 100%;
            padding-left:unset;
            margin-left:unset;
            margin-top:0.5vh;
            >:nth-child(1){
                >:nth-child(1){
                    visibility:hidden;
                    position:absolute;
                }
                >:nth-child(2){
                    flex:1;
                    margin:unset;
                    *{
                        font-size:1rem;
                    }

                }
            }
        }

        > :nth-child(2),
        > :nth-child(3) { /*playstop and buttons*/
            align-items: center;
            align-self:center;
            width:100%;

        }


        > :nth-child(2){

            max-width:100%;
            width:100%;

            > div{
                flex-direction: column-reverse;
                gap:2vw;
                >:nth-child(1){
                    width:fit-content;
                    gap:5vw;
                    >*{
                        scale:1;
                        >*{
                            scale:1.5;
                        }
                    }

                    >:nth-child(1){
                        max-width:fit-content;
                        display:contents;
                    }
                    >:nth-child(2)>:nth-child(1){
                        scale:1.8;
                    }
                    >:nth-child(3){background-color:green;
                        max-width:fit-content;
                        display:contents;
                    }

                }
                >:nth-child(2){

                    display: grid;
                    grid-template-rows: auto auto; /* Two rows */
                    grid-template-columns: 1fr fit-content 1fr;
                    grid-template-areas:
                        "item2 item2 item2"  /* Row 1: Item 1 spans both columns */
                        "item1 . item3";
                    gap:0px;
                    >:nth-child(1){ /*Left time marker*/
                        grid-area: item1;
                        min-width:0px;
                    }
                    >:nth-child(2){ /*Time bar*/
                        grid-area: item2;
                    }
                    >:nth-child(3){/*Right time marker*/
                        grid-area: item3;
                        min-width:0px;
                    }
                }
            }

        }

        #ShowAboutTab,
        > :nth-child(3)> div > :nth-child(6) /*hide fullscreen button*/
        {
            visibility: hidden ;
            position: absolute;
        }

        > :nth-child(3){
            width:fit-content;
        }

    }
}

/*------------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------------------SPOTIFY MAIN PAGE CUSTOMIZATION*/

#globalBody[mainview="home"] #mainpage{
    #SearchForm {
        all:unset;
        >span>div{
            padding-inline:0px;

            input {
                border-radius:0px;
            }
        }
    }
    .main-view-container { /*main page adjustment to fit*/
        will-change:scale;
        transform-origin: top left;
        transform: scale(2) ;
        width: 50%;

        section[data-testid="artist-page"] >:nth-child(1) >:nth-child(1){/*Make artist logo smaller on artist page*/
            min-width:20vh;
            height:20vh;
        }
        .under-main-view>div>div[data-testid="background-image"]{

            width:50vw;
            height:16vh;

        }

    }
    .contentSpacing{ /*remove giant spaces between content*/
        --shelf-gap-vertical: 0px;
        padding:3%;
    }

    .Shelf:not([aria-label="Browse all"]) > div{ /*Make albums visible for daily mix etc*/
        display:flex;
        overflow-x:auto;
        scrollbar-width:none;
        >div{
            display:flex;
            min-width:22vw;

        }
        img{ /*make logos not cut*/
            border-radius:0px;
        }
    }
    .os-size-observer + div { /*Fix scrolling x-axis on artist page*/
        overflow-x: hidden !important;
    }

    .os-scrollbar{ /*Hide all scrollbars on main page ig*/
        visibility: hidden;
    }

    .contentSpacing div[role="grid"]>div[role="presentation"]:has(div[data-testid="column-header-context-menu"]){ /*Remove #, Title, Time etiquettes*/
        visibility: hidden;
        position:absolute;

    }
    .contentSpacing:has(div[data-testid="playlist-tracklist"]),
    .contentSpacing:has(div[aria-label="popular tracks"]),
    .contentSpacing:has(div[data-testid="track-list"]){ /*create illusion of playing by clicking track*/
        div[role="row"]{
            &:hover{
                transform: scale(0.99);
            }
            transition: transform 50ms ease-in;
        }
        div[role="row"]
        {

            margin-inline:-5vw;
            >:nth-child(1){
                background-color:transparent; /*Disable gray highlight of the track*/
                >:nth-child(2){ /*Disable pointer events for track name and artist*/
                    pointer-events: none;
                }

                >:nth-child(1){/*Enlargen play button for track*/

                    >div{ /*Div that holds the button*/

                        position:relative;
                        height:100%;
                        >button{ /*Make button span all width of screen*/
                            background-color:transparent;
                            position:absolute;
                            left:0px;
                            height:100%;
                            width:100vw;
                            z-index:2;
                            svg{ /*Hide the play button triangle shape*/
                                visibility: hidden;
                            }
                        }

                    }
                }
            }
        }

    }
    #searchPage {

        div[data-testid="track-list"]{
            div[role="row"]
            {
                margin-inline:0px; /*undo margin fix for tracklist*/
            }

        }
        section[aria-label="Top result"]{
            visibility: hidden;
            position:absolute;
        }
    }
    .under-main-view+div{ /*Add bottom padding*/
        margin-bottom:0vh;
    }

    .main-view-container__mh-footer-container >nav>div{  /*Hide footer info download spotify free credits insta etc*/
        all:unset;
        display:block;
        height:0px !important;
        overflow: hidden !important;
    }
}
/*------------------------------------------------------------------------------------------------------*/